.btn-primary {
  width: 110px;
  padding: 10px;
  border-radius: 30px;
  margin-top: 20px;
  margin-left: 30%;
  position: relative;
  overflow: hidden;
  background-color: #007bff;
  color: white;
  border: 2px solid transparent;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.5s ease, border-color 0.5s ease;
}
 
.btn-primary::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #FFFF;
  color: #000;
  transition: left 0.3s cubic-bezier(.165, 0.84, 0.44, 1);
  z-index: 0;
}
 
.btn-primary:hover::before {
  left: 0;
}
 
.btn-primary span {
  position: relative;
  z-index: 1;
  transition: black 0.5s ease;
}
 
.btn-primary:hover {
  color: #000;
  border: 1px solid black;
}
 
 
.main-container{
    background-color:#F5F5F5;
    position: fixed;
    top:9%;  
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 0;
  }
 
  .heading{
    margin: 3% 0 2% 3%;
  }
 
  .img{
    width: 80%;
    border: 1px solid white;
    border-radius: 20px;
  }
 
  .card{
    width: 90%;
    margin-left: 5%;
    padding: 2%;
  }
 
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3%;
  }
 
  .label-container{
    margin: 2% 8% 3% 2%;
  }
 
  select.form-control {
    appearance: none;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEyIDYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMmgxMkw2IDZMNCA0eiIgZmlsbD0iIzAwMDAwMCIvPjwvc3ZnPg==');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
    padding-right: 30px;
  }
 
  .label-container > label{
    font-weight:bold;
    margin-bottom: 2%;
  }
 
  .label-container > input , select{
    border: 0.5px solid gray;
    font-weight: 500;
    background-color:rgb(190, 221, 250);
  }
 
  .button-container{
    margin:2% 2% 1% 0;
    text-align: center;
  }
 
  .btn-primary{
    background-color: #46a3f5;
    border: none;
    margin-left: auto;
  }
 
   
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-left-color: #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin-left: 10px;
  }
 
  @keyframes spin {
    to { transform: rotate(360deg); }
  }
   
 
 
 