#empheading {
    padding: 2%;
}
 
#filter1,
#empstartDate {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 2px;
    padding-left: 5px;
    width: 100%;
}
 
#applyFilter,
#removeFilter {
    width: 50px;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    font-size: 20px;
    background-color: #77c2ff;
}
 
#errorContainer {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
#errorContainer p {
    font-size: 50px;
    color: red;
    font-weight: bold;
}
 
.icon > span {
    margin-top: 30vh;
    font-size: 100px;
}
 
label {
    font-weight: bold;
    margin-bottom: 1%;
}
 
.card {
    margin-left: 19%;
    width: 65%;
    border: 1px solid white !important;
    border-radius: none !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.required-star {
    color: red;
    margin-left: 5px;
}
 