 
.btn-secondary {
    width: 110px;
    padding: 10px;
    border-radius: 30px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    background-color: #007bff;
    color: white;
    border: 2px solid transparent;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.5s ease, border-color 0.5s ease;
  }
   
  .btn-secondary::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #FFFF;
    color: #000;
    transition: left 0.3s cubic-bezier(.165, 0.84, 0.44, 1);
    z-index: 0;
  }
   
  .btn-secondary:hover::before {
    left: 0;
  }
   
  .btn-secondary span {
    position: relative;
    z-index: 1;
    transition: black 0.5s ease;
  }
   
  .btn-secondary:hover {
    color: #000;
  }
 
  has context menu
 
.main-container{
    background-color:#F5F5F5;
    position: fixed;
    top:12%;  
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y:auto ;
  }
 
h5 {
    font-size: 1.5em;
    color: #333;
    text-align: center;
}
 
.table-container {
    overflow-x: auto;
}
 
table {
    width: 90%;
    border-collapse: collapse;
    margin: 10px 0;
    margin-left: 5%;
    font-size: 0.95em;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
 
table thead tr {
    /* background-color: #47B7D0; */
    background-color: #a2cef5;
 
    color: rgb(52, 50, 50);
    text-align: left;
    font-weight: 100;
}
 
table th,
table td {
    padding: 12px 15px;
}
 
table tbody tr {
    border-bottom: 1px solid #dddddd;
}
 
table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
 
table tbody tr:last-of-type {
    border-bottom: 2px solid #47B7D0;
}
 
.click{
    cursor: pointer;
}
 
.click:hover{
    color: blue;
}
 
 
.loading-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
  }
 
  .loading-spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  }
 
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
 
  .align-note{
    margin: 1% 0 1% 5%;
    font-weight: 500;
  }
 
 