/* Style for form container */

.animated {
  width: 210px;
  padding: 10px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  background-color: #007bff;
  color: white;
  border: 2px solid transparent;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.5s ease, border-color 0.5s ease;
}

.animated::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #ffff;
  color: #000;
  transition: left 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 0;
}

.animated:hover::before {
  left: 0;
}

.animated span {
  position: relative;
  z-index: 1;
  transition: black 0.5s ease;
}

.animated:hover {
  color: #000;
}
*/ .employee-esd-end-search {
  display: flex;
  flex-direction: row;

  margin-left: 5%;
  margin-bottom: 3%;
}

/* .input{
  width: 40%;
} */

.esdButtons {
  height: 45px;
  margin-top: 40px;
  width: 100px;
}

.main {
  width: 100%;
  margin: 0 auto;
}

/* Style for form headings */

/* Style for form rows */
.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* size: 20px; */
}

/* Style for form groups */
.form-group {
  flex: 0 0 calc(33.33% - 10px); /* Adjust width for three columns with spacing */
}

/* Style for form labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style for form input fields */
input[type="text"],
input[type="email"],
input[type="date"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style for submit buttons */
/* .btn1,
.btn2 {
  margin-top: 20px;
} */

/* Style for form container */
.container-box {
  width: 100%;
  height: 10%;

  /* border: 1px solid black; */
  background-color: #f5f5f5;
  margin: 0 auto;
  border-radius: 25px;
}
.edit-Container {
  display: flex;
  flex-direction: row;

  margin-left: 30%;
}

.sub-button {
  width: 10%;
  height: 10%;
}

.input {
  margin-right: 10%;
}

/* Style for form rows */
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 3%;
  justify-content: space-between;
  top: 80%;
}

/* Style for form groups */
.form-group {
  flex: 0 0 calc(33.33% - 10px); /* Adjust width for three columns with spacing */
}

/* Style for form labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[disabled],
select[disabled],
textarea[disabled],
button[disabled] {
  cursor: not-allowed;
  background-color: rgb(239, 239, 239);
}

/* Style for form input fields */
input[type="text"],
input[type="email"],
input[type="date"],
select {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-weight: 500;
}

/* Style for submit buttons */
.btn1 {
  margin-top: 50px;
}
.btn2 {
  margin-left: 20px;
}

.main {
  width: 90%;
  background-color: white;
  padding: 10px;
}

.plus-icon {
  position: absolute;
  font-size: large;
  right: 8%;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEyIDYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMmgxMkw2IDZMNCA0eiIgZmlsbD0iIzAwMDAwMCIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px;
  padding-right: 30px;
}

.profile-container {
  display: flex;
  align-items: center;
  background-color: rgb(241, 234, 234);
  width: 70%;
  height: 13vh;
  border: 1px solid black;
  border-radius: 10px;
  margin: 7% 0 1% 15%;
}

.profile-img {
  width: 8%;
  height: auto;
  margin-left: 3%;
  border-radius: 50%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  margin: 2% 0 0 2%;
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

.loading-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-close {
  margin-left: 96%;
  font-weight: bold;
}

.btn-close:hover {
  background-color: red;
}

.scrolling {
  overflow-y: hidden;
}

.employee-list-display {
  width: 100%; 
  height: auto;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  width: 100%;
  margin-left: 5%;
  margin-top: 30px;
}

.card {
  width: 100%;
  max-width: 300px;
  background-color: #cae0f4;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-title {
  font-size: 18px;
  color:rgb(133, 21, 21);
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.fa-solid:hover{
  color:rgb(133, 21, 21)
}

.paragraph{
  color: red;
  text-align: center;
  font-weight: bold;
  margin-top: 2%;
}
