.fullScreen {
  background-image: url("src/assets/HRITFwebpgBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
.logo-img {
  width: 100%;
  max-width: 270px;
  margin-left: -35%;
  margin-top: 10% !important;
}

.card {
  width: 100%;
  max-width: 400px;
  height: auto;
  min-height: 60vh; 
  padding:30px 30px;
  border: 1px solid white;
  border-radius: 20px;
  opacity: 0.8;
  margin: 10% -4% 0 10%;
}

h3 {
  text-align: center;
  padding-bottom: 20px;
  color: #0458A0;
  font-family: monospace;
  font-weight: bold;
}

input.form-control {
  width: 55px;
  padding: 10px 20px;
  margin-right: 20px;
  border: 2px solid #0d70c6;
  border-radius: 5px;
}

.btn-primary {
  width: 110px;
  padding: 10px;
  border-radius: 30px;
  margin-top: 20px;
  margin-left: 35%;
  position: relative;
  overflow: hidden;
  background-color: #007bff;
  color: white;
  border: 2px solid transparent;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.5s ease, border-color 0.5s ease;
}

.btn-primary::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #FFFF;
  color: #000;
  transition: left 0.3s cubic-bezier(.165, 0.84, 0.44, 1);
  z-index: 0;
}

.btn-primary:hover::before {
  left: 0;
}

.btn-primary span {
  position: relative;
  z-index: 1;
  transition: black 0.5s ease; 
}

.btn-primary:hover {
  color: #000;
}


.resend{
  margin: 0 10px 0 38%;
  font-weight: bold;
  cursor: pointer;
}

.disabled-link {
  color: #6c757d; 
  cursor: not-allowed; 
  text-decoration: none; 

}

li{
  padding: 5px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-left-color: #000;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 1s linear infinite;
  margin:20px 0 10px 45%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}



