.main-container{
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
  overflow-y: auto;
}

.logo{
  width: 50%;
  margin:30% 0 0 20%;
}

.align-items{
  display: flex;
  flex-direction:row;
}

.content{
  border: 2px solid white;
  border-radius: 25px;
  padding: 2%;
  background-color: white;
  width: 300%;
  height: 75vh;
  margin:3% 10% 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  /* overflow: auto; */
}

.input-otp{
  display:flex;
  flex-direction:row; 
  justify-content:center;
}

input.form-control {
  width: 55px;
  padding: 7px 20px;
  margin: 10px 5px;
  border: 2px solid #0d70c6;
  border-radius: 5px;
}

 
.loading-indicator {
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-left-color: #000;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 1s linear infinite;
    margin-left: 20px;
    margin-top: 20px;
  }
 
  @keyframes spin {
    to { transform: rotate(360deg); }
  }

  .btn-danger{
    width: 110px;
    margin-left: 40%;
    margin-top: 10px;
    border-radius: 30px;
    position: relative;
    padding: 10px;
    overflow: hidden;
    border: 2px solid transparent;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.5s ease, border-color 0.5s ease;    
  }

  .btn-danger::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #FFFF;
    color: #000;
    transition: left 0.3s cubic-bezier(.165, 0.84, 0.44, 1);
    z-index: 0;
  }
  
  .btn-danger:hover::before {
    left: 0;
  }
  
  .btn-danger span {
    position: relative;
    z-index: 1;
    transition: black 0.5s ease; 
  }
  
  .btn-danger:hover {
    color: #000;
  }


/* Responsive Styles */


@media (max-width: 1292px) {

  .logo {
    width: 70%;
    margin: 30% 0 0 15%;
  }

  .content {
    width: 300%;
    padding: 10%;
    margin: 3% 5% 0 0;
    height: 80vh;

  }

  .btn-danger {
    margin-left: 35%;
  }
}

@media (max-width: 992px) {
  .logo {
    width: 80%;
    margin: 25% 0 0 10%;
  }

  .content {
    width: 150%;
    margin: 3% 5% 0 0;
  }

  .btn-danger {
    margin-left: 30%;
  }
}

@media (max-width: 768px) {
  .align-items {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 90%;
    margin: 20% 0 0 5%;
  }

  .content {
    width: 100%;
    margin: 3% 0 0 0;
  }

  .btn-danger {
    margin-left: 25%;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 95%;
    margin: 15% 0 0 2.5%;
  }

  .content {
    width: 90%;
    margin: 3% 0 0 5%;
    height: auto;
  }

  .btn-danger {
    margin-left: 20%;
  }
}

@media (max-width: 400px) {
  .logo {
    width: 100%;
    margin: 10% 0 0 0;
  }

  .content {
    width: 100%;
    margin: 3% 0 0 0;
    height: auto;
  }

  .btn-danger {
    margin-left: 15%;
  }
}
  
