<div class="main">
 
    <div>
        <p>Add Candidates/Employees by uploading data in Excel file and click on the Bulk Upload button. Also Update Candidates to Employees via Excel file.</p>
        <input (change)="selectFile($event)" type="file" name="excelFile" id="excelFile" accept=".xlsx, .xls" required style="width: 30%;">
        <button (click)="uploadFile()" role="button"  class="btn btn-primary"  style="right: 30%; width: 20%; bottom: 6%; background-color:#4ba6f7;;"> <span class="text">Upload Bulk Data</span></button> 
        <button  type="submit" (click)="Excelview()" role="button" class="btn btn-primary button" style="left: 30%; width: 20%; bottom: 35%; right: 120%; background-color: #4ba6f7;;"> <span class="text">Download Sample Excel</span></button> 
    </div>
 
    <div class="bulk-add-image">
        <img src="../../assets/bulkAdd.png" alt="bulkAddImage" >
    </div>
 
    <div *ngIf="loading1" class="loading-spinner-container">
        <div class="loading-spinner"></div>
    </div>
   
</div>
 