<div class="main">
      
        <div class="d-flex flex-row">
          <div style="margin: 40px 20px 10px 6%;font-weight: bold;"><p>Prepare Letters by clicking on Prepare Letters button</p></div>
          <button type="button" class="btn btn-primary mt-5" routerLink="/SelectTemplate" role="button" ><span class="text">Prepare letters</span></button>
          <button type="button" class="btn btn-primary mt-5" routerLink="/editdetails" role="button"style="background-color:gray;" ><span class="text">back</span></button>  
        </div>

        <hr>
        <h5 style="margin: 10px 0 10px 6%;"> Letters related to  {{ employeeData[0].WORKER_TYPE === "Employee" ? "Employee" : "Candidate" }} <span style="color: red;">{{employeeData[0].EMP_NO}}</span> :</h5>
        <div class="employee-list-display">
          <table class="employee-table" style="width: 100%; border-collapse: collapse;" *ngIf="lettersData.length > 0">
            <thead>
              <tr class="heading">
                <th style="text-align: center; color: #000; width: 7%;">S.no</th>
                <th style="text-align: center; color: #000; width: 20%;">Letter Name</th>
                <th style="text-align: center; color: #000; width: 12%;">Created Date</th>
                <th style="text-align: center; color: #000; width: 10%;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of lettersData">
                <td style="text-align: center;">{{ lettersData.indexOf(data)+1}}</td>
                <td style="text-align: center;">{{ data?.LETTER_TYPE }}</td>
                <td style="text-align: center;">{{ data?. CREATED_AT| date }}</td>
                <td style="text-align: center;"><button style="margin: 1%;border: none;font-size: 25px;background-color: aliceblue;" (click)="view()">
                  <i class="fa-solid fa-download"></i>
                </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button style="margin: 1%;border: none;font-size: 25px;background-color: aliceblue;" (click)="deleteLetter(data.EMP_ID, data.TEMPLATE_ID)">
                  <i class="fa-solid fa-trash"></i>
                </button></td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="lettersData.length === 0">
            <p class="paragraph">No letters data found for this Employee.</p>
          </div>
   
        </div>

        <div *ngIf="loading" class="loading-spinner-container">
          <div class="loading-spinner"></div>
        </div>

</div>
