<!-- <div>

    <div class="mt-5">
        <div class="profile-card">
                <div  style="margin-left:40%;"><img src="../../assets/images/userDP.jpg" alt="HR Dp" class="dp-circle"></div>

                <div class="user-info" style="margin-left: 45%;">
                    <p><span class="highlight">UserName:</span> <span class="p">{{userData.username}}</span></p>
                    <p><span class="highlight">UserId:</span> <span class="p">{{userData.user_id}}</span></p>
                    <p><span class="highlight">Email:</span> <span class="p">{{userData.email}}</span></p>
                    <p><span class="highlight">Role:</span> <span class="p">{{userData.ROLE}}</span></p>
                </div>

                <br>

                <div class="button-container">
                    <button class="btn btn-primary" routerLink (click)="Signout()" role="button"><span class="text">Logout</span></button>
                </div>
                <br>
        </div>
    </div>

</div> -->