<div class="fullScreen">

    <div class="container d-flex flex-column flex-lg-row justify-content-between">

        <div>
            <img class="mt-4 logo-img" src="../../assets/HRIT logo 5.png" alt="logo">
        </div>

        <div class="card">
            <h3>Forgot Password</h3>
            <form [formGroup]="FgpwPage" (ngSubmit)="SENDOTP()">
                <div class="input-container">
                    <i class="fa-solid fa-user input-icon"></i>
                    <input type="text" placeholder="Enter User Name" class="form-control" formControlName="username">
                    <div class="error-message">
                        <div *ngIf=" FgpwPage.get('username')?.touched && FgpwPage.get('username')?.hasError('required')" class="text-danger ms-3">
                            *User Name is Required
                        </div>
                    </div>    
                </div>

                <div>
                    <button class="btn btn-primary" role="button" type="submit"><span class="text">Send OTP</span></button>
                    <div class="mt-4 align-back"><a routerLink="/">Back to Login</a></div>
                    <div *ngIf="loading" class="spinner" ></div>
                </div>
            </form>

        </div>

    </div>

</div>