<div class="container-box" *ngIf="waitForEmployementData"> <!-- main div -->

  <div style="display: flex; flex-direction: row"> <!---- Search fields ---->

    <div class="d-flex flex-column" style="margin-left: 10%">
      <label>Effective Start Date :</label>
      <input type="date" class="input" class="form-control"  style="width: 150%" [(ngModel)]="employementEsd" />
    </div>

    <div class="d-flex flex-column" style="margin-left: 12%">
      <label>Effective End Date :</label>
      <input type="date" class="form-control" style="width: 150%" [value]="effectiveEndDate" />
    </div>

    <button class="btn btn-primary animated" style="width: 10%; height: 10%; left: 12%; margin-top: 3%" (click)="empsubmitdate()">
      <span class="text">Search</span>
    </button>

  </div>

  <!-------------- edit button and view history button ------------------->

  <div style="display: flex; align-items: center; justify-content: space-between; margin-top: 3%;">

    <h3 style="margin: 2% 0 1% 3%;">Employment Details :</h3>

    <div style="display: flex; gap: 10px;" *ngIf="isHideEditEmployementButton">
      <select class="select-option" [(ngModel)]="selectedValue" (change)="onOptionChange($event)">
        <option class="options" selected disabled value="">Edit options</option>
        <option class="options" value="Update">Update</option>
        <option class="options" value="Correct">Correct</option>
        <!-- <option class="options" value="DeleteRecord">Delete Record</option> -->
      </select>
      <button (click)="openModal('custom-modal-3')" class="btn btn-primary animated viewH">
        <span style="cursor: pointer" class="edit-icon">
          <i class="fa-solid fa-clock-rotate-left"></i> View History
        </span>
      </button>
    </div>

  </div>

  <br />

  <!----------------------- Form start  ------------------------>

  <form [formGroup]="employementForm" (ngSubmit)="employmentSubmit()" style="margin-left: 4%">

    <div class="form-row">

      <div class="form-group col-md-4">
        <label for="effectiveStartDate">Effective Start Date<span style="color: red">*</span>:</label>
        <input type="date" id="effectiveStartDate" name="effectiveStartDate" formControlName="effectiveStartDate" class="form-control" [readonly]="isReadOnly" />
        <div *ngIf=" employementForm.get('effectiveStartDate')?.touched && employementForm.get('effectiveStartDate')?.hasError('required')" class="text-danger ms-3">
          *Effective Start Date is required
        </div>
        <div *ngIf="employementForm.controls['effectiveStartDate'].hasError('invalidDate')" class="text-danger ms-3">
          *Invalid Date (No Saturdays, Sundays)
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="Effective_End_Date">Effective End Date:</label>
        <input type="date" id="Effective_End_Date" name="Effective_End_Date" value="4712-12-31" class="form-control" formControlName="Effective_End_Date" [readonly]="isReadOnly" />
      </div>

      <div class="form-group col-md-4">
        <label for="workerType">Worker Type<span style="color: red">*</span>:</label>
        <select id="workerType" formControlName="workerType" class="form-control">
          <option value selected disabled>Select...</option>
          <option value="Candidate">Candidate</option>
          <option value="Employee">Employee</option>
        </select>
        <div *ngIf=" employementForm.get('workerType')?.touched && employementForm.get('workerType')?.hasError('required')" class="text-danger ms-3">
          *Worker Type is required
        </div>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group col-md-4" style="margin-bottom: 2%">
        <label for="dateOfJoining">Date of Joining :</label>
        <input type="date" id="dateOfJoining" formControlName="dateOfJoining" required class="form-control" readonly/>
      </div>

      <div class="form-group col-md-4">
        <label for="Status">Status<span style="color: red">*</span>:</label>
        <select id="Status" formControlName="Status" class="form-control">
          <option value disabled>Select...</option>
          <option value="Active" selected>Active</option>
          <option value="Inactive">Inactive</option>
        </select>
        <div *ngIf="employementForm.get('Status')?.touched && employementForm.get('Status')?.hasError('required')" class="text-danger ms-3">
          *Status is required
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="Organization_Name">Organization Name <span style="color: red">*</span>:</label>
        <input type="text" id="Organization_Name" name="Organization_Name" formControlName="Organization_Name" class="form-control" />
        <div *ngIf="employementForm.get('Organization_Name')?.touched && employementForm.get('Organization_Name')?.hasError('required')" class="text-danger ms-3">
          *Organization name is required
        </div>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group col-md-4">
        <label for="Department">Department:</label>
        <input type="text" id="Department" name="Department" formControlName="Department" class="form-control" />
      </div>

      <div class="form-group col-md-4">
        <label for="Position-Name">Position:</label>
        <input type="text" id="Position" name="Position" formControlName="Position" class="form-control" />
      </div>

      <div class="form-group col-md-4">
        <label for="CurrentCompanyExperience">Current Company Experience:</label>
        <input type="text" id="CurrentCompanyExperience" name="CurrentCompanyExperience" formControlName="CurrentCompanyExperience" class="form-control" value="0" readonly />
      </div>

    </div>

    <div class="form-row">

      <div class="form-group col-md-4">
        <label for="PreviousExperiences">Previous Experiences:</label>
        <input type="text" id="PreviousExperiences" name="PreviousExperiences" formControlName="PreviousExperiences" class="form-control" />
      </div>

      <div class="form-group col-md-4">
        <label for="Notice_Period">Notice Period:</label>
        <select id="Notice_Period" name="Notice_Period" formControlName="Notice_Period" class="form-control">
          <option value="" disabled selected>Select...</option>
          <option *ngFor="let prf of Notice_Period" [ngValue]="prf">
            {{ prf }}
          </option>

        </select>
      </div>

      <div class="form-group col-md-4">
        <label for="Probation-Period">Probation Period:</label>
        <select id="Probation-Period" name="Probation_Period" formControlName="Probation_Period" class="form-control">
          <option value="" disabled selected>Select...</option>
          <option *ngFor="let prf of Probation_Period" [ngValue]="prf">
            {{ prf }}
          </option>
        </select>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group col-md-4" [hidden]="workerTypeValue">
        <label for="psalary">Proposed Salary:</label>
        <input type="text" id="psalary" class="form-control" formControlName="proposedSalary" />
      </div>

      <!-- <div class="form-group col-md-4">
        <label for="mngr">Manager :</label>
        <input type="text" id="mngr" class="form-control" formControlName="manager" />
      </div> -->
      <div class="form-group col-md-4"></div>

    </div>

    <div class="form-row" [hidden]="employementForm.disabled">

      <div class="col">

        <button type="submit" class="btn btn-primary animated btn1" *ngIf="submitEmployeementButton">
          <span class="text">Submit</span>
        </button>

        <button class="btn btn-primary animated btn1" type="button" (click)="updateEmploymentDetailsForm()" *ngIf="updateEmployeementButton">
          <span class="text">Update</span>
        </button>

        <button class="btn btn-primary animated btn1" style="background-color: gray;" type="button" (click)="isEmployementContent()">
          <span class="text">Cancel</span>
        </button>

      </div>

    </div>

  </form>

  <!----------- Form end ------------>

  <!---------------------------- buttons for DOR salary ---------------------------------------->

  <div class="d-flex flex-colounm" style="margin-top: 50px;margin-left: -5%;">

    <div style="margin-top: 2%">
      <button class="btn btn-primary animated" routerLink="/employeeLetters"
        style="width: 200px; bottom: 50%; left: 45%;">
        <span class="text">Document of Records</span>
      </button>
    </div>

    <div style="margin-top: 2%" *ngIf="employementForm.get('workerType')?.value !== 'Candidate'">
      <button (click)="openSalaryDetails()" class="btn btn-primary animated"
        style="left: 55%; width: 200px; bottom: 50%;">
        <span class="text">Salary Details</span>
      </button>
    </div>

  </div>

</div> <!-- main div -->


<!-----------------------------------------employement view history --------------------------------------------------------->

<jw-modal id="custom-modal-3">
  <button (click)="closeModal('custom-modal-3')" type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
  <hr />
  <h5 style="margin: 0 0 2% 2%;">Employement details View History :</h5>
  <div *ngIf="!waitForViewHistoryData">
    <p class="history-error">No History</p>
  </div>
  <div style="overflow-x: auto;">
    <table style="table-layout: auto; width: 100%;" *ngIf="waitForViewHistoryData">
      <thead>
        <tr>
          <th class="table-head-styles">Effective Start Date</th>
          <th class="table-head-styles">Effective End Date</th>
          <th class="table-head-styles">Changed Attribute</th>
          <th class="table-head-styles">Action</th>
          <th class="table-head-styles">Action Reason</th>
          <th class="table-head-styles">Last Updated By</th>
          <th class="table-head-styles">Last Updated date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of viewHistoryEmployeementData" class="single-rec">
          <td class="table-body-styles hover" (click)="employmentSearchViewHistory( data.EFFECTIVE_START_DATE)">
            {{ data.EFFECTIVE_START_DATE | date:'dd-MM-yyyy' }}
          </td>
          <td class="table-body-styles">{{ data.EFFECTIVE_END_DATE | date:'dd-MM-yyyy' }}</td>
          <td class="table-body-styles">
            <ul style="list-style-type: none; padding: 0; margin: 0;">
              <li *ngFor="let data of data.CHANGED_ATTRIBUTE">{{ data }}</li>
            </ul>
          </td>
          <td class="table-body-styles">{{ data.ACTION }}</td>
          <td class="table-body-styles">{{ data.ACTION_REASON }}</td>
          <td class="table-body-styles">{{ data.LAST_UPDATED_BY }}</td>
          <td class="table-body-styles">{{ data.LAST_UPDATED_AT | date:'dd-MM-yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</jw-modal>

<!----------------------------------------- Salary details ------------------------------------------------------->

<jw-modal id="custom-modal-4">
  <button (click)="closeModal('custom-modal-4')" type="button" class="btn-close" data-dismiss="modal" aria-label="Close" ></button>
  <hr />
  <app-SalaryDetails *ngIf="isSalaryDetailsOpen" [employeListData]="employeeList" [employeeStartDate]="employementEsd" [loading]="loading" />
</jw-modal>

<!--------------------------------------Employement edit update popup --------------------------------------------->

<div *ngIf="showUpdateModal" class="modal-overlay">

  <div class="modal-content">

    <h5>Update Employment Details:</h5>

    <div class="modal-body">
      <form #form="ngForm" novalidate>
        <div class="align-feild">
          <label for="startDate">Effective Start Date <span style="color: red;font-weight: bold;">*</span>:</label>
          <input type="date" id="startDate" name="startDate" [(ngModel)]="actionEsd" (ngModelChange)="onActionEsdChange()" required #startDate="ngModel" />
          <div *ngIf="startDate.invalid && startDate.touched" style="color: red;">
            *Effective Start Date is required.
          </div>
        </div>
        <div class="align-feild">
          <input type="date" id="endDate" name="endDate" [(ngModel)]="actionEed" (ngModelChange)="onActionEsdChange()" [hidden]="true" />
        </div>

        <div class="align-feild">
          <label for="action">Action<span style="color: red;font-weight: bold;">*</span>:</label>
          <select id="action" name="action" [(ngModel)]="selectedAction" (change)="onActionChange()" required #action="ngModel">
            <option *ngFor="let action of actionsOptionsForUpdate" [value]="action.value">{{ action.label }}</option>
          </select>  
          <div *ngIf="action.invalid && action.touched" style="color: red;">
            *Action is required.
          </div>
        </div>
        <div class="align-feild">
          <label for="actionReason">Action Reason<span style="color: red;font-weight: bold;">*</span>:</label>
          <select id="actionReason" name="actionReason" [(ngModel)]="selectedReason" required #actionReason="ngModel">
            <option *ngFor="let reason of actionReasonsUpdate" [value]="reason.value">{{ reason.label }}</option>
          </select>  
          <div *ngIf="actionReason.invalid && actionReason.touched" style="color: red;">
            *Action Reason is required.
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary animated update" (click)="actionChange(form)" [disabled]="form.invalid"><span class="text">Update</span></button>
      <button type="button" class="btn btn-primary animated cancel" (click)="closeUpdateModel()"><span class="text">Cancel</span></button>
    </div>

  </div>

</div>

<!--------------------------------------Employement edit correct popup --------------------------------------------->

<div *ngIf="showUpdateModalForCorrect" class="modal-overlay">

  <div class="modal-content">

    <h5 style="padding: 1% 0 1% 2%; margin-top: 2%;"> Correct Employment Details:</h5>

    <div class="modal-body">
      <form #form2="ngForm" novalidate>

        <div class="align-feild">
          <label for="action">Action<span style="color: red;font-weight: bold;">*</span>:</label>
          <select id="action" name="action" [(ngModel)]="selectedAction" (change)="onActionChangeCorrection()" required #action="ngModel">
            <option *ngFor="let action of actionOptionsForCorrection" [value]="action.value">{{ action.label }}</option>
          </select> 
          <div *ngIf="action.invalid && action.touched" style="color: red;">
           *Action is required.
          </div>

        </div>
        <div class="align-feild mt-4">
          <label for="actionReasonForCorrection">Action Reason<span style="color: red;font-weight: bold;">*</span>:</label>
          <select id="actionReasonForCorrection" name="actionReasonForCorrection" [(ngModel)]="selectedReasonForCorrection" required #actionReasonForCorrection="ngModel">
            <option   selected disabled value="" >Select a reason...</option>
            <option *ngFor="let reason of actionReasonsCorrection" [value]="reason.value">{{ reason.label }}</option>
          </select>
          <div *ngIf="actionReasonForCorrection.invalid && actionReasonForCorrection.touched" style="color: red;">
            *Action Reason is required.
          </div>
  
        </div>
    
        <div class="modal-footer mt-5">
          <button class="btn btn-primary btn2 animated update" (click)="handleActionChange()" [disabled]="form2.invalid"><span class="text">Correct</span></button>
          <button class="btn btn-primary btn2 animated cancel" (click)="cancelActionForCorretion()"><span class="text">Cancel</span></button>
        </div>
    
      </form>
    </div>

  </div>

</div>