.modal-dialog {
  position: relative;
  top:12%;
  left: 67%;
}
 
.modal-content {
  width: 400px;
}

.modal-body img {
  max-width: 100%; 
  height: auto; 
}

.modal-body p {
  font-size: 1em; 
}

.btn-danger {
  width: 100%; 
  font-size: 16px; 
  margin-bottom: 10%;
}

span{
  font-weight: 500;
}
 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
.modal-left .modal-dialog {
  position: fixed;
  top: 0;
  left: 50%;
  margin: 2;
  transform: none; 
}
 
.modal-left .modal-content {
  margin-top: 40%;
  left: 320%;
  border-radius: 10px; 
  width: 400px; 
  height: 100%; 
}

 nav {
  background-color: #99d0ff;
  width: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000; 
  padding: 3px 0; 
}
 
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly; 
  align-items: center; 
  flex-wrap: wrap;
}
 
nav li {
  position: relative;
  margin: 0;
  cursor: pointer;
}
 
nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
 
nav img.logo {
  max-width: 100%;
  height: auto;
}

.head .submenu {
  display: none;
  border-radius: 25px;
  background-color: #99d0ff;
  color: white;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  list-style-type: none;
  padding: 8px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999; 
  white-space: nowrap; 
}
 
.head:hover .submenu {
  display: flex;
  flex-direction: row;
 
}
 
.head .submenu li {
  display: inline-block; 
  margin: 0; 
}
 
.head .submenu li a {
  color: black;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  white-space: nowrap; 
}
 
.head .submenu li a:hover {
  color: purple;
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 25px;
 
}
 
.submenu li a {
  border-right: 1px solid rgba(255, 255, 255, 0.5); 
}
 
.submenu li:last-child a {
  border-right: none; 
}
 
 
.submenu li a:hover {
 
  background-color: white;
  border-radius: 45%;
  color: purple;
}
 
.has-submenu:hover .submenu {
  display: block;
}
 
.has-submenu > a {
  display: block; 
  padding: 10px;
  text-align: center; 
  border-radius: 25px; 
  transition: background-color 0.3s, color 0.3s;
}
 
.has-submenu:hover > a {
  background-color: white;
  color: purple;
}
 
#ch1:hover > a {
  background-color: white;
  color: black;
  border-radius: 25px; 
}

i:hover{
  color: purple;
}

.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: x-small;
}

 .btn-danger{
  width: 110px;
  margin-top: 10px;
  border-radius: 30px;
  position: relative;
  padding: 10px;
  overflow: hidden;
  border: 2px solid transparent;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.5s ease, border-color 0.5s ease;    
}

.btn-danger::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #FFFF;
  color: #000;
  transition: left 0.3s cubic-bezier(.165, 0.84, 0.44, 1);
  z-index: 0;
}

.btn-danger:hover::before {
  left: 0;
}

.btn-danger span {
  position: relative;
  z-index: 1;
  transition: black 0.5s ease; 
}

.btn-danger:hover {
  color: #000;
}

.custom-close{
  font-size: 30px;
  font-weight: bold;
}

.custom-close:hover{
  color: red;
}

@media (max-width: 500px) {
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
 
  .submenu {
    width: 100%;
    position: static; 
  }
 
  .has-submenu:hover .submenu {
    display: block;
    position: relative;
  }

  .modal-left .modal-dialog {
    width: 90%; 
    left: 5%; 
  }

  .modal-left .modal-content {
    width: 100%; 
    margin-top: 10%; 
  }
}
 
@media (max-width: 500px) {
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
 
  .submenu {
    width: 100%;
    position: static; 
  }
 
  .has-submenu:hover .submenu {
    position: relative;
    top: auto;
    left: auto;
  }
  .modal-left .modal-dialog {
    width: 95%; 
    left: 2.5%; 
  }

  .modal-left .modal-content {
    width: 100%;
    margin-top: 10%; 
  }
}
 
@media (min-width: 769px) {
  nav ul {
    flex-direction: row;
  }
 
  .submenu {
    width: auto;
  }
}


 
 